body {
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right,#f95ce2,#edca11);
    display: block;
    margin: 8px;
}
select {
    cursor: pointer;
    margin-top: 10px;
}
.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator {
    border: 1px solid lightgray;
    background: whitesmoke;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 50%);
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
label {
    cursor: default;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
#calculator button {
    width: 10%;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: whitesmoke;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
#calculator input {
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#quality {
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}
#tip-amount {
    visibility: hidden;
    min-width: 250px;
    margin: auto;
    background: limegreen;
    color: #fff;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
}
#tip-amount.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
@-webkit-keyframes fadeIn{
    from {
        bottom: 0; 
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@keyframes fadeIn{
    from {
        bottom: 0; 
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut{
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0; 
        opacity: 0;
    }
}
@keyframes fadeOut{
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0; 
        opacity: 0;
    }
}
#calculator button:hover , select:hover {
    background-color: rgba(0,0,0,0.1);
}